    body {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        margin: 0;
        background-color: #8d8888;
    }
    .title {
        font-size: 15px;
        background-color: gray;
    }
    .banner {
        background-color: #474545;
        padding: 5px;
        text-align: center;
    }
    #mainBTN {
        font-size: 75px;
        background-color: brown;
        border: 5px solid black;
        border-radius: 5px;
        transition: 150ms;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    #mainBTN:hover {
        border-radius: 10px;
        background-color: #c54b4b;  
        scale: 105%;
        cursor: pointer;
    }
    #mainBTN:active {
        border-radius: 15px;
        background-color: #df7f7f;  
        scale: 110%;
        cursor: grabbing;
    }
    .shop {
        background-color: #8d8888;
        text-align: center;
    }
    .shopItem {
        background-color: #686262;
        border-radius: 5px;
        border: 1px solid black;
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 2px;
        transition: 150ms;
    }
    .shopItem:hover {
        background-color: #989191;
        scale: 105%;
        cursor: pointer;
        border-radius: 10px;
    }
    .shopItem:active {
        background-color: #b8b1b1;
        scale: 110%;
        cursor: grabbing;
        border-radius: 15px;
    }
