body {
    margin: 0;
    background-color: #8d8888;
    background-image: url('https://wallpaperwaifu.com/wp-content/uploads/2019/09/pixel-city-thumb.jpg');
}

.title {
    font-size: 15px;
    font-family: "Minecraftia";
}

.banner {
    padding: 5px;
    font-size: 15px;
    text-align: center;
}

#counter {
    font-family: "Jersey 20";
    font-size: 15px;
}

#mainBTN {
    font-size: 75px;
    border: 3px solid;
    color: black;
    background-color: rgba(255, 255, 255, 0.132);
    border-radius: 20px;
    transition: 150ms;
    font-family: "Jersey 20";
    width: 400px;
}

#mainBTN:hover {
    scale: 105%;
    cursor: pointer;
}
    
#mainBTN:active {
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.132);
    color: black;
    scale: 110%;
    cursor: pointer;
}

.shop {
    text-align: center;
    font-weight: 200;
    font-size: 25px;
    font-family: "Minecraftia";
}
    
.shopItem {
    background-color: #686262;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 14px;
    font-family: "Minecraftia";
    color: black;
    margin: 2px;
    transition: 150ms;
    height: 50px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.132);
}

.shopItem:hover { 
    scale: 105%;
    cursor: pointer;
    border-radius: 10px;
}

.shopItem:active {
    scale: 110%;
    cursor: grabbing;
    border-radius: 10px;
}
